
.vector {
        height: 14px;
        width: 14px;
        margin-top: 22px;
        margin-left: 10px;

  }
      
.text {
        font-family: "Mardoto";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
        margin-left: 10px;
      }

.desc {
  height: 140px;
  width: 320px;
  font-family: 'Mardoto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

text-align: justify;

  
  color: rgba(33, 33, 33, 0.8);
margin-left: 20px;



}
.box1 {


width: 169px;
height: 34px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 90px;

background: #FFFFFF;
border: 1px solid #23527C;
border-radius: 4px;
color: #23527C;
margin-bottom: 50px;
text-decoration: none;
margin-bottom: 20px;
}
.link {

decoration: none;
color: #23527C;
margin-right: -60px;
margin-left: 90px;

font-family: 'Mardoto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
color: #23527C;
text-decoration: none;

}
.box {

display: flex;
flex-direction: column;
margin-left: 10px;

}


.filter {

height: 18px;
width: 19.999998092651367px;
margin-left: 320px;
margin-top: 50px;

}
.content {

  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;;

}
.main {

  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.pic {

  height: 240px;
  width: 320px;

  

}
