.pagenumber {

    font-family: 'Mardoto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(33, 33, 33, 0.8);
    margin-left: 18px;
  
  }
  .pages {
  
  display: flex;
  flex-direction: row;
  margin-left: 140px;
  margin-top: 10px;
  
  
  }
  .vector {

    height: 9px;
    width: 7px;
    transform: translate(18px, 17px);
   
  }